<!DOCTYPE html>
<html lang="en" ng-app="SignupApp">
<head>
    <title>SignUp Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

</head>
<body  ng-controller="SignupCtrl as ctrl">
<div class="container">
    <div class="page-header">
        <h1>SignUp Form <small>Angular demo</small></h1>
    </div>
    <form name="signupForm" novalidate ng-submit="ctrl.signup()">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"
                   class="form-control" ng-model="ctrl.username">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email"
                   class="form-control" ng-model="ctrl.email">
        </div>
        <div class="form-group">
            <label for="gender">Gender:</label>
            <div class="radio">
                <label class="radio-inline">
                    <input type="radio" name="gender"
                           ng-model="ctrl.gender" value="male">Male
                </label>
                <label class="radio-inline">
                    <input type="radio" name="gender"
                           ng-model="ctrl.gender" value="female">Female
                </label>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn-success form-control">Sign Up
            </button>
        </div>
    </form>
</div>
</body>
<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="app/app.js"></script>
<script type="text/javascript" src="app/js/signup.controller.js"></script>
</html>