<!DOCTYPE html>
<html lang="en" ng-app="CheckboxApp">
<head>
    <meta charset="UTF-8">
    <title>Checkboxes & Other Form Controls</title>
    <link rel="stylesheet" href="bower_components\bootstrap\dist\css\bootstrap.min.css"/>
    <link rel="stylesheet" href="bower_components\bootstrap\dist\css\bootstrap-theme.min.css"/>
    <!-- BEGIN CSS -->
    <!--<link rel="stylesheet" href="app\css\mystyle.css" />-->
</head>
<body ng-controller="CheckCtrl as ctrl">
<div class="container">
    <div class="page-header">
        <h1>Fruit Bar <small>Checkbox Demo</small></h1>
    </div>
    <form  ng-submit="ctrl.submit()">

        <div class="form-group">
            <label>Apple
                <input type="checkbox" ng-model="ctrl.fruits.apple">
            </label><br/>
            <label>Banana
                <input type="checkbox" ng-model="ctrl.fruits.banana"
                       ng-true-value="'YES'" ng-false-value="'NO'">
            </label><br/>
            <label>Mango
                <input type="checkbox" ng-model="ctrl.fruits.mango"
                       ng-true-value="'yup'" ng-false-value="'nope'">
            </label><br/>
            value1 = {{ctrl.fruits.apple}}<br/>
            value2 = {{ctrl.fruits.banana}}<br/>
            value3 = {{ctrl.fruits.mango}}<br/>
        </div>
        <input type="Submit">
    </form>
</div>
</body>
<!-- SCRIPTS -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>

<script src="app/app.js"></script>
<script src="app/js/checkbox.controller.js"></script>
</html>